* {
  padding: 0;
  margin: 0;
}

main {
  margin: 10;
}

#mainHousing {
  display: flex;
  flex-direction: row;
}

#controlsHousing {
  display: flex;
  flex-direction: column;
  padding: 10;
}

#inlineInput {
  display: flex;
  flex-direction: row;
}